<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            <marquee>
                <i>
                    Rohit 45
                </i>
            </marquee>
        </h1>
    </center>
    <br>
    <center>
    <img src="https://s1.stabroeknews.com/images/2019/12/rohit19.jpg" alt="cricketer" height="600" width="600">
</center>
</body>
</html>